@font-face {
    font-family: 'GTAV';
    src: url("../assets/pricedown.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signpainter';
    src: url("../assets/signpainter.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet';
    src: url("../assets/chalet.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: GTA, Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#lumicon {
    width: 32px;
    position: absolute;
    left: 65%;
    cursor: pointer;
}

.container {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

h1 {
    font-family: GTAV;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

label {
    font-family: signpainter;
    font-size: larger;
}

.input-container {
    margin-bottom: 20px;
}

input,
select,
button {
    font-family: chalet;
    margin: 5px;
    padding: 8px;
    width: calc(100% - 18px);
    box-sizing: border-box;
    border-radius: 10px;

}

select {
    width: 100%;
}

button {
    cursor: pointer;
}

p {
    margin-top: 10px;
    font-weight: bold;
    font-family: chalet;
}

.dark {
    color: white;
    background-color: rgb(34, 34, 34);
}

.dark select, .dark input, .dark button {
    color: rgb(255, 255, 255);
    background-color: rgb(77, 76, 76);
}

.dark .container {
    background-color: rgb(49, 49, 49);

}

.black-to-white {
    filter: invert(100%);
}

@media screen and (max-width: 600px) {
    body {
        height: 100vh;

    }

    .container {
        width: 70%;
    }

    select,
    input,
    button {
        width: 85%;
    }

    #lumicon {
        left: 80%;
    }
}